.header {
  margin-top: 60px;
}

.header-image-wrapper {
  position: relative;
/*  display: inline-block;
*/}

.header-image-wrapper > img {
  width: 100%;
}

.header-info {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate( -50%, -50% );
  color: white;
  font-family: 'Berkshire Swash', cursive;
}

.header-info > h1 {
  font-size: 12vh;
}

.header-info > h3 {
  font-size: 5vh;
}

@media screen and (max-width: 600px) {

  .header-info > h1 {
    font-size: 7vh;
  }

  .header-info > h3 {
    font-size: 2.5vh;
  }
}
