.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.project-section {
  width: 35%;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 200px;
  margin: 10px;
}