.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.skill-group {
  border: 0.5px solid lightgray;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  background-color: white;
}

.skill-group h3 {
  padding: 10px;
  font-family: "Roboto Condensed", sans-serif;
}

.skill-group span.fa {
  margin-top: 20px;
  font-size: 45px;
}

.skill-detail {
  padding-top: 15px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
